{% extends 'common/base.html' %}
{% load static %}
{% load cloudinary %}
{% block background %}
    <style xmlns="http://www.w3.org/1999/html">
      body  {
      background-image: url("{% static 'assets/images/register.jpg' %}");
       }
          label {
  background-color: whitesmoke;
}
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-center">Register</h1>
    <form enctype="multipart/form-data" class="col-lg-6 offset-lg-3" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <h6 style="color: red"><strong>{{ user_form.errors }}</strong></h6>
        <h6 style="color: red"><strong>{{ profile_form.errors }}</strong></h6>
        <div class="form-group">
            <label for="username">Username</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ user_form.password1}}
            {{ user_form.password1.help_text}}
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            {{ user_form.password2 }}
        </div>
        <div class="form-group">
            <label for="first_name">First name</label>
            {{ profile_form.first_name }}
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            {{ profile_form.last_name }}
        </div>
        <div id="type" class="form-group">
            <label for="type">User type</label>
            {{ profile_form.type }}
        </div>
        <div class="form-group">
            <label for="telephone">Telephone:</label>
            {{ profile_form.telephone }}
        </div>
        <input type="submit" value="Register" class="btn btn-primary mt-3">
    </form>
{% endblock %}