{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="slides">
          <div class="slide" id="1">
            <div id="slider-wrapper">
                <div id="image-slider">
                  <ul>
                    <li class="active-img">
                      <div class="slide-caption">
                        <h6>New outfit</h6>
                        <h2>Beautiful<br>Person</h2>
                      </div>
                    </li>
                    <li>
                      <div class="slide-caption">
                        <h6>Latest One</h6>
                        <h2>Tech<br>Meeting</h2>
                      </div>
                    </li>
                    <li>
                      <div class="slide-caption">
                        <h6>Your Update</h6>
                        <h2>Smart<br>Devices</h2>
                      </div>
                    </li>
                  </ul>
                </div>
                <div id="thumbnail">
                  <ul>
                    <li class="active"><img src="{% static 'assets/images/thumb-01.jpg' %}" alt="Earth" /></li>
                    <li><img src="{% static 'assets/images/thumb-02.jpg' %}" alt="Meeting" /></li>
                    <li><img src="{% static 'assets/images/thumb-03.jpg' %}" alt="Smart" /></li>
                  </ul>
                </div>
              </div>
        </div>
</div>
{% endblock %}