{% extends 'base.html' %}
{% load static %}
{% block background %}
    <style>
      body  {
      background-image: url("{% static 'assets/images/gallery-bg.jpg' %}");
       }
   </style>
{% endblock %}
{% block content %}
<div class="slides">
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            {% for offer in offers %}
                            <div class="col-md-12">
                                <div class="featured-item">
                                	<a href=""><img src="{{ offer.image.url }}" alt=""></a>
                                    <div class="down-content">
                                    <h4>{{ offer.garment_type }}t</h4>
                                        <h6>{{ offer.quantity }} pieces</h6>
                                        <a class="button details" href="{% url 'details offer' offer.id %}">Details</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}