{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="slides">
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            <div class="col-md-12">
                                <div class="featured-item">
                                	<a href=""><img src="{% static 'assets/images/item-01.jpg' %}" alt=""></a>
                                    <div class="down-content">
                                    <h4>Winter Jacket</h4>
                                        <h6>$8.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <a href=""><img src="{% static 'assets/images/item-02.jpg' %}" alt=""></a>
                                    <div class="down-content">
                                        <h4>Nulla a pharetra</h4>
                                        <h6>$35.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-03.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Aliquam convallis</h4>
                                        <h6>$45.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-04.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Vivamus vitae #4</h4>
                                        <h6>$55.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-05.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Vivamus vitae #6</h4>
                                        <h6>$65.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-06.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Vivamus vitae #8</h4>
                                        <h6>$75.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-07.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Donec non sagittis</h4>
                                        <h6>$85.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-08.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 8</h4>
                                        <h6>$95.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-09.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 10</h4>
                                        <h6>$105.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-10.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 12</h4>
                                        <h6>$115.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-11.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 14</h4>
                                        <h6>$125.00</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="featured-item">
                                    <img src="{% static 'assets/images/item-12.jpg' %}" alt="">
                                    <div class="down-content">
                                        <h4>Curabitur sed 16</h4>
                                        <h6>$135.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}