{% extends 'base.html' %}
{% load static %}
{% block background %}
    <style>
      body  {
      background-image: url("{% static 'assets/images/gallery-bg.jpg' %}");
       }
   </style>
{% endblock %}
{% block content %}
<div class="slides">
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            <div class="col-md-12">
                                <div class="featured-item">
                                	<a href=""><img src="{% static 'assets/images/item-01.jpg' %}" alt=""></a>
                                    <div class="down-content">
                                    <h4>Winter Jacket</h4>
                                        <h6>$8.00</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}