{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block background %}
    <style>
      body  {
      background-image: url("{% static 'assets/images/update.jpg' %}");
       }
      label {
  background-color: whitesmoke;
}
   </style>
{% endblock %}
{% block content %}
    <h1 class="text-center" style="color: whitesmoke">Update</h1>
    <form enctype="multipart/form-data" class="col-lg-6 offset-lg-3" method="post" action="{% url 'update' profile.id %}">
        {% csrf_token %}
        {{ user_form.errors }}
        {{ profile_form.errors }}
        {% if wrong_credentials %}
           <h6 style="color: red"><strong>Please fill out correct data!</strong></h6>
        {% endif %}
        <div class="form-group">
            <label for="username">Username</label>
            {{ user_form.username }}
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            {{ user_form.password1}}
            <label1 style="color: white">{{ user_form.password1.help_text }}</label1>
        </div>
        <div class="form-group">
            <label for="password">Confirm Password</label>
            {{ user_form.password2 }}
        </div>
        <div class="form-group">
            <label for="first_name">First name</label>
            {{ profile_form.first_name }}
        </div>
        <div class="form-group">
            <label for="last_name">Last name</label>
            {{ profile_form.last_name }}
        </div>
        <div class="form-group">
            <label for="type">User type</label>
            {{ profile_form.type }}
        </div>
        <div class="form-group">
            <label for="telephone">Telephone</label>
            {{ profile_form.telephone }}
        </div>
        <div class="custom-file">
            <label class="custom-file-label" for="image">Choose Image File</label>
            {{ profile_form.image }}
        </div>
        <input type="submit" value="Update" class="btn btn-primary mt-3">
    </form>
{% endblock %}