{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}
{% block background %}
    <style>
      body  {
      background-image: url("{% static 'assets/images/profile_details.jpg' %}");
       }
   </style>
{% endblock %}
{% block content %}
    <div class="slides">
        <div class="slide" id="3">
            <div class="content third-content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="owl-carousel owl-theme">
                            {% for profile in profiles %}
                            <div class="col-md-12">
                                <div class="featured-item">
                                	<a href=""><img src="{{ profile.image.url }}" alt=""></a>
                                    <div class="down-content">
                                        <div id="type" class="form-group">
                                            <label>First name: <strong>{{ profile.first_name }}</strong></label>
                                        </div>
                                        <div id="type" class="form-group">
                                            <label>Last name: <strong>{{ profile.last_name }}</strong></label>
                                        </div>
                                        <div id="type" class="form-group">
                                            <label>User type: <strong>{{ profile.type }}</strong></label>
                                        </div>
                                        <div id="type" class="form-group">
                                            <label>Telephone: <strong>{{ profile.telephone }}</strong></label>
                                        </div><div id="type" class="form-group">
                                            <label>Username: <strong>{{ profile.user.username }}</strong></label>
                                        </div>
                                        <a class="button edit" href="{% url 'update' profile.id %}">Update</a>
                                        <a class="button delete" style="margin-left: 60px" href="{% url 'delete' profile.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}