{% load static %}
{% load profile_complete_notification %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Textile Market</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/tooplate-main.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    {% block background %}
    {% endblock %}
</head>

<body>
<div class="sequence">
    <div class="seq-preloader">
        <svg width="39" height="16" viewBox="0 0 39 16" xmlns="http://www.w3.org/2000/svg" class="seq-preload-indicator"><g fill="#F96D38">
            <path class="seq-preload-circle seq-preload-circle-1" d="M3.999 12.012c2.209 0 3.999-1.791 3.999-3.999s-1.79-3.999-3.999-3.999-3.999 1.791-3.999 3.999 1.79 3.999 3.999 3.999z"></path>
            <path class="seq-preload-circle seq-preload-circle-2" d="M15.996 13.468c3.018 0 5.465-2.447 5.465-5.466 0-3.018-2.447-5.465-5.465-5.465-3.019 0-5.466 2.447-5.466 5.465 0 3.019 2.447 5.466 5.466 5.466z"></path>
            <path class="seq-preload-circle seq-preload-circle-3" d="M31.322 15.334c4.049 0 7.332-3.282 7.332-7.332 0-4.049-3.282-7.332-7.332-7.332s-7.332 3.283-7.332 7.332c0 4.05 3.283 7.332 7.332 7.332z"></path></g></svg>
    </div>
</div>
<div class="logo">
    <h1>Textile Market</h1>
</div>
{% if user.is_authenticated %}
    <div class="logo" style="margin-top: 100px; height: 50px">
        {% profile_complete_notification %}
    </div>
{% endif %}

<nav>
    <ul>
        <li><a href="{% url 'home' %}"><em>Homepage</em></a></li>
        <li><a href="{% url 'offers' %}"><em>Our Offers</em></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'create offer' user.profile.id %}"><em>Create offer</em></a></li>
            {% if user.profile.type == "company" or user.is_superuser %}
                <li><a href="{% url 'my offers' user.profile.id %}"><em>My offers</em></a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}"><em>Wellcome {{ user.profile.first_name }}! Logout</em></a></li>
            {% if user.is_superuser %}
                <li><a href="{% url 'profile' %}"><em>Profiles</em></a></li>
            {% else %}
                <li><a href="{% url 'profile' %}"><em>Profile</em></a></li>
            {% endif %}
        {% else %}
            <li><a href="{% url 'page 401' %}"><em>Create offer</em></a></li>
            <li><a href="{% url 'register' %}"><em>Register</em></a></li>
            <li><a href="{% url 'login' %}"><em>Login</em></a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}
{% endblock %}
{% include 'common/scripts.html' %}
</body>
</html>