{% extends 'common/base.html' %}
{% load static %}
{% block content %}
    <div id="image-slider">
        <ul>
            <li class="active-img">
                <div class="slide-caption">
                    <h6>New outfit</h6>
                    <h2>Beautiful<br>Person</h2>
                </div>
            </li>
            <li>
                <div class="slide-caption">
                    <h6 style="color: black">Latest Ones</h6>
                    <h2 style="color: black">Meet<br>Best Offers</h2>
                </div>
            </li>
            <li>
                <div class="slide-caption">
                    <h6>Your Update</h6>
                    <h2>In touch<br>with fashion</h2>
                </div>
            </li>
        </ul>
    </div>

    <div id="thumbnail">
        <ul>
            <li class="active"><img src="{% static 'assets/images/thumb-01.jpg' %}" alt="Earth" /></li>
            <li><img src="{% static 'assets/images/thumb-02.jpg' %}" alt="Meeting" /></li>
            <li><img src="{% static 'assets/images/thumb-03.jpg' %}" alt="Smart" /></li>
        </ul>
    </div>
{% endblock %}